// https://github.com/papercss/papercss/blob/master/src/core/_config.scss

$font-src: 'https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC&display=swap' !default;

// Imports
@if $font-src {
  @import url($font-src);
}

// Set theme colors
$primary: #41403e !default;
$secondary: #0071de !default;

// Set dark theme colors
$dark-primary: #fff !default;
$dark-secondary: #0071de !default;

$theme-map: (
  light: (
    primary: $primary,
    secondary: $secondary,
  ),
  dark: (
    primary: $dark-primary,
    secondary: $dark-secondary,
  )
)